img {
    height: 200px;
  }
  
  .slider {
    text-align: center;
    margin-top: 15%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    #previous {
      display: none;
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      z-index: 2;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
  
    #next {
      display: block;
      position: absolute;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
      z-index: 2;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 12px;
    }
  
    .dots {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      width: 100%;
      position: relative;
      bottom: 0;
  
      .dot {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background-color: #ddd;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
  
        &.active {
          background-color: #333;
        }
      }
    }
  }
  

